.form-header{
    display: flex;
    justify-content: center;
}
.add-company{
    display: flex;
    justify-content: center;
    padding-bottom: 10rem;
}
.add-job{
    display: flex;
    justify-content: center;
    // flex-direction: ;
}