.company-list{
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    margin-top: 1em;
    
    .company-logo{
        border: 1px solid black;
        border-radius: 30px 30px 30px 30px;
        height:12rem;
        aspect-ratio: 1/8;
        margin-left: 10em;
    }
}