.content{
    .company-grid{
        display: grid;
        grid-template-columns: repeat(1fr);
        
        padding-top: 4rem;
        column-gap: 2em;


    .company-card{
        display: flex;
        flex-direction: column;
        border: 1px solid #00c;
        border-radius: 20px 20px 20px 20px;
        width: 30vw;
        min-height: 12em;
        aspect-ratio: 5/2;
        justify-content: center;
        padding-left: 1rem;
        &:hover{
            cursor: pointer;
        }
            .logo-image{
                max-width:65%;
                overflow: hidden;
            }

        }
    }
}