    .company-logo{
        width: 30vw;
        // padding-left: 10em;
    }
    .delete-btn{
        margin-bottom: 5em;
        background-color: lightblue;
        border-radius: 5px 5px  5px 5px;
    }