.company-content{
    display: flex;
    justify-content: center;
    padding-top: 20px;
    .job-content{
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
        
    }
}